*{
    margin: 0;
    padding: 0;
}
#form1 {
    width: 292px;
    height: 391px;
}
.fundo {
    background-image: linear-gradient(45deg,black,#ff5e00);
    height: 100vh;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}
.calculadora{
    position: absolute;
    background-color: black;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 15px;
}



.calculator {
    width: 270px;
    padding: 10px;
    position: absolute;
    background-color: black;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 15px;
    text-align: center;
   
}

.calculator input[type="text"] {
    width: 100%;
    margin-bottom: 10px;
    padding: 5px;
    font-size: 18px;
    text-align: right;
}

.calculator button {
    width: 50px;
    height: 50px;
    margin: 5px;
    font-size: 18px;
   
}



















































